{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {%endblock%}</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.first_name }}</h1>
    <a href="/compare">Apply for Honors/Minors</a>
    <a href="/logout">logout</a>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/accounts/register">Register</a>
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>

        {% endif %}
</body>

</html>